ASSISTANT_LLM_PROVIDER=local
ASSISTANT_LLM_MODEL=models/mistral-7b-instruct-v0.1.Q6_K.gguf
ASSISTANT_LLM_API_KEY=
ASSISTANT_NSFW_API_URL=http://localhost:5000/v1/chat/completions
ASSISTANT_HOST=127.0.0.1
ASSISTANT_PORT=8420
ASSISTANT_INVOKEAI_API_URL=http://192.168.40.236:9090